/* add fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

/* set html and body to control page scroll */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgb(128, 37, 37);
}

/* set font size by class */
.lgHeading {
    font-size: 2rem;
}
.medHeading {
    margin: .1rem .8rem;
}
.smHeading {
    margin: .6rem .8rem;
}
.detail {
    margin: .6rem .8rem;
}

/* Layout main components in relation to each other */
#page-wrapper {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/lgParchment.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}
#header-box {
    width: 99.5%;
    height: 12vh;
    font-family: 'Fredoka One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center-box {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#side-bar {
    width: 30%;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow: auto;
    text-align: right;
    border-bottom: .2rem solid darkgoldenrod;
    border-top: .2rem solid darkgoldenrod;
    border-left: .2rem solid darkgoldenrod;
}
#map-box {
    border: .2rem solid darkgoldenrod;
    width: 60%;
}
#map {
    height: 100%;
    width: 100%;
}
#footer-box {
    width: 99.5%;
    height: 18vh;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow: auto;
    text-align: center;
}

/* add media query for larger screens */
@media (min-width: 825px) {
    .lgHeading {
        font-size: 5rem;
    }
    .medHeading {
        font-size: 2rem;
        margin: .5rem 1rem;
    }
    .smHeading {
        font-size: 1.5rem;
        margin: .6rem 1rem;
    }
    .detail {
        font-size: 1rem;
        margin: .6rem 1rem;
    }
}